.formContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	flex-direction: column;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 40px;
	gap: 8px;
	background-color: rgba(195, 191, 191, 0.347);
	border-radius: 8px;
}

.title {
	color: black;
	font-size: 40px;
	font-weight: 600;
	margin: 0;
}

textarea {
	width: 310px;
	height: 125px;
	border-radius: 8px;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 17px;
	background-color: #dbd8d8;
	color: black;
	resize: none; /* чтобы нельзя было вручную растянуть */
	box-sizing: border-box;

}

textarea::placeholder {
	color: #6c757d;
	font-size: 15px;
	font-weight: bold;
}

textarea:focus::placeholder {
	color: #646cff;
}

button:disabled {
	background-color: rgb(103, 101, 101);
}
